@import "tailwindcss";

button {
  cursor: pointer;
}

img {
  width: 100%;
}

.header-box-shadow {
  box-shadow: 0px 5px 4px 0px #00000014;
}

.welcome-card-box-shadow {
  box-shadow: 0px 4px 7px 4px #0000002b;
}

.notebook-box-shadow {
  box-shadow: 4px 4px 4px 4px #0000000d;
}

.note-box-shadow {
  box-shadow: 3px 4px 4px 2px #0000000f;
}

.ind-note-box-shadow {
  box-shadow: 4px 4px 10px 6px #0000000d;
}

.notebok-linear-gradient {
  background: linear-gradient(153.62deg, #301dad 3.89%, #6048ff 92.46%);
}

.font-cursive {
  font-family: cursive;
}

@theme {
  --color-primary-light: #3abff8; /* Sky Blue */
  --color-primary-light-hover: #2ca7e0; /* Sky Blue Hover */
  --color-primary: #0284c7; /* Ocean Blue */
  --color-primary-hover: #0369a1; /* Ocean Blue Hover */
  --color-primary-background: #fdfbff; /* Light Gray */

  --color-secondary-sand: #f3e8d9; /* Sand Beige */
  --color-secondary-sand-hover: #e4d6c3; /* Sand Beige Hover */
  --color-secondary-leaf: #22c55e; /* Leaf Green */
  --color-secondary-leaf-hover: #16a34a; /* Leaf Green Hover */
  --color-secondary-earth: #9a3412; /* Earth Brown */
  --color-secondary-earth-hover: #7b2a0e; /* Earth Brown Hover */

  --color-accent-sunset: #fb923c; /* Sunset Orange */
  --color-accent-sunset-hover: #f97316; /* Sunset Orange Hover */
  --color-accent-sunshine: #facc15; /* Sunshine Yellow */
  --color-accent-sunshine-hover: #eab308; /* Sunshine Yellow Hover */
  --color-accent-blush: #f9a8d4; /* Blush Pink */
  --color-accent-blush-hover: #f472b6; /* Blush Pink Hover */

  --color-neutral-light: #faf4f0; /* Light Cream */
  --color-neutral-light-hover: #f1ebe6; /* Light Cream Hover */
  --color-neutral-gray: #64748b; /* Stone Gray */
  --color-neutral-gray-hover: #475569; /* Stone Gray Hover */

  --color-purple-primary: #1c106b;

  --color-gray-shade1: #d9d9d9;
  --color-gray-shade2: #a1a1a1;
}
